
.menu-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.menu-icon {
	position: absolute;
	top: 20px;
	left: 20px;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 50px;
    height: 50px;
    z-index: 1;
}

.menu-icon .dot {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 5px;
    height: 5px;
    z-index: -1;
	background-color: #607d8b;
	border-radius: 10px;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: margin 0.4s ease 0.4s, width 0.4s ease;
	-moz-transition: margin 0.4s ease 0.4s, width 0.4s ease;
	-o-transition: margin 0.4s ease 0.4s, width 0.4s ease;
	transition: margin 0.4s ease 0.4s, width 0.4s ease;
}

.menu-icon .dot:nth-of-type(1) {
	margin-top: -10px;
	margin-left: -10px;
	-webkit-transform: translate(-50%, -50%) rotate(45deg);
	-moz-transform: translate(-50%, -50%) rotate(45deg);
	-ms-transform: translate(-50%, -50%) rotate(45deg);
	-o-transform: translate(-50%, -50%) rotate(45deg);
	transform: translate(-50%, -50%) rotate(45deg);
}

.menu-icon .dot:nth-of-type(2) {
	margin-top: -10px;
	-webkit-transform: translate(-50%, -50%) rotate(-45deg);
	-moz-transform: translate(-50%, -50%) rotate(-45deg);
	-ms-transform: translate(-50%, -50%) rotate(-45deg);
	-o-transform: translate(-50%, -50%) rotate(-45deg);
	transform: translate(-50%, -50%) rotate(-45deg);
}

.menu-icon .dot:nth-of-type(3) {
	margin-top: -10px;
	margin-left: 10px;
}

.menu-icon .dot:nth-of-type(4) {
	margin-left: -10px;
}

.menu-icon .dot:nth-of-type(6) {
	margin-left: 10px;
}

.menu-icon .dot:nth-of-type(7) {
	margin-top: 10px;
	margin-left: -10px;
}

.menu-icon .dot:nth-of-type(8) {
	margin-top: 10px;
}

.menu-icon .dot:nth-of-type(9) {
	margin-top: 10px;
	margin-left: 10px;
}

.menu-icon.clicked .dot {
	-webkit-transition: margin 0.4s ease, width 0.4s ease 0.4s;
	-moz-transition: margin 0.4s ease, width 0.4s ease 0.4s;
	-o-transition: margin 0.4s ease, width 0.4s ease 0.4s;
	transition: margin 0.4s ease, width 0.4s ease 0.4s;
	margin-left: 0;
	margin-top: 0;
}

.menu-icon.clicked .dot:nth-of-type(1) {
	width: 25px;
}

.menu-icon.clicked .dot:nth-of-type(2) {
	width: 25px;
}