.chat-box {
    display: flex;
    cursor: unset !important;
}
.chat-box form{
    margin-bottom: 10px;
}
.chat-box:hover{
    box-shadow: none !important;
}
.chat-box input{
    font-size: 14px;
    width: 100%;
    padding-right: 35px;
}
.chat-box input:-webkit-autofill { 
    -webkit-box-shadow: 0 0 0 1000px white inset; 
}
.chat-box form{
    width: 100%;
}
.chat-field{
    align-self: flex-end;
    padding-right: 16px;
    width: 100%;
}

.fa-envelope{
    color: #1828ff;
}
.chat-box-fieldset{
    position: relative;
}
.send-msg{
    position: absolute;
    right: 5px;
    top: 0;
}